<div class="wrap">
  <div class="container pdl0 pdr0 pdt15 pdb15 pdt10x pdb10x">
    <div class="pull-left col-sm-6 col-xs-12 text-center-mobile">
      <a class="pull-left logo width_100" href="/home.aspx">
        <img src="assets/images/icon/logo.png" alt="kangaroo.com.vn">
      </a>
    </div>
    <div class="pull-right col-sm-6 col-xs-12 text-center-mobile text-right color-gray-2 line-height-50">
      <div class="dropdown" style="display: inline-block;">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <div class="hidden-xs display-inline-block"><img src="assets/images/icon/icon-phone.png"
                                                           alt="kangaroo.com.vn" class=""> <b
            class="font-size-20 font-bold mgr30">1900555566</b></div>
        </div>

      </div>
      <div style="display:inline-block;">
        <span id="lblMem" class="font-size-18 display-inline-block hover_color_orange cursor-pointer"></span>
        <span *ngIf="null==authService.getCurrentUser()||authService.getCurrentUser()=='anonymous'"><a
          class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
          routerLink="/sign-up">Đăng ký</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
          class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
          (click)="openDialogSignIn()">Đăng nhập</a></span>

        <span *ngIf="null!=authService.getCurrentUser()&&authService.getCurrentUser()!='anonymous'"><a
          class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
          routerLink="/sign-up">{{authService.getCurrentUser().username}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
          class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
          (click)="logOut()">Đăng xuất</a></span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix  top_2a hidden-xs hidden-sm">
  <div class="container pdl0 pdr0 pdl5x pdr5x"
       *ngIf="null==authService.getCurrentUser()||authService.getCurrentUser()=='anonymous'">
    <ul class="menuTop">
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',0)"><a class="" routerLink="kich-hoat-bao-hanh" title="Kích hoạt bảo hành">Kích hoạt
        bảo hành</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',1)"><a class="" routerLink="tra-cuu-han-bao-hanh" title="Tra cứu hạn bảo hành">Tra cứu
        hạn bảo hành</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',2)"><a class="" routerLink="yeu-cau-bao-hanh" title="Yêu cầu bảo hành">Yêu cầu bảo
        hành, sửa chữa</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',3)"><a class="" routerLink="tra-cuu-yeu-cau-bao-hanh" title="Tra cứu yêu cầu bảo hành">Tra
        cứu bảo hành, sửa chữa</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',4)"><a class="" routerLink="station" title="Trạm bảo hành">Trạm bảo hành</a>
      </li>

      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',5)"><a class="" routerLink="chinhsachhd" title="">Chính sách & Hướng dẫn</a>
      </li>
    </ul>

  </div>


  <div class="container pdl0 pdr0 pdl5x pdr5x"
       *ngIf="null!=authService.getCurrentUser()&&authService.getCurrentUser()!='anonymous'">
    <ul id="toplv1" class="menuTop">
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',0)"><a class=""
                                                                                  routerLink="quan-ly/san-pham"
                                                                                  title="Kích hoạt bảo hành">Quản lý sản
        phẩm</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',1)"><a class=""
                                                                                  href="tra-cuu-han-bao-hanh.html"
                                                                                  title="Tra cứu hạn bảo hành">Nhập
        liệu data bảo
        hành</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',2)"><a class="" href="yeu-cau-bao-hanh.html"
                                                                                  title="Yêu cầu bảo hành">Quản lý yêu
        cầu sửa
        chữa</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',3)"><a class="" routerLink="manage/station"
                                                                                  title="Tra cứu yêu cầu bảo hành">Quản
        lý
        trạm</a>
      </li>
      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',4)"><a class=""
                                                                                  routerLink="manage/chinhsachhd"
                                                                                  title="Trạm bảo hành">Quản lý
        CSHD</a>
      </li>

      <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',5)"><a class="" routerLink="manage-homepage"
                                                                                  title="">Quản lý giao diện</a>
      </li>
    </ul>

  </div>
</div>
