<div class="wrap">
    <div class="container pdl0 pdr0 pdt5 pdb5 pdt5x pdb5x display-flex align-items-center">
        <div class="pull-left col-sm-7 col-xs-12 text-center-mobile display-flex align-items-center">

            <a class="pull-left logo" routerLink="home">
                <img src="assets/images/icon/logo.png" alt="chuyengialocnuocminhduc.com"
                     style="width: 245px; height: 91px">
            </a>
            <span class="font-size-20 font-bold mgr30 color-green" style="align-self: center!important;">
                    BẢO HÀNH MÁY LỌC NƯỚC MINH ĐỨC

            </span>
        </div>
        <div class="pull-right col-sm-5 col-xs-12 text-center-mobile text-right color-gray-2 line-height-50" style="align-self: center">
            <div class="dropdown" style="display: inline-block;">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <div class="hidden-xs display-inline-block">
                        <img src="assets/images/icon/icon-phone.png"
                             alt="chuyengialocnuocminhduc.com" style="width: 54px;height: 66px">
                        <b class="font-size-20 font-bold mgr30 color-green">0238 66 22 333</b></div>
                </div>

            </div>
            <div style="display:inline-block;">
                <span id="lblMem" class="font-size-18 display-inline-block hover_color_orange cursor-pointer"></span>
                <span *ngIf="null==authService.getCurrentUser()||authService.getCurrentUser()=='anonymous'"><a
                        class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
                        routerLink="/sign-up">Đăng ký</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
                        (click)="openDialogSignIn()">Đăng nhập</a></span>

                <span *ngIf="null!=authService.getCurrentUser()&&authService.getCurrentUser()!='anonymous'"><a
                        class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
                        routerLink="/sign-up">{{authService.getCurrentUser().username}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        class="font-size-18 display-inline-block hover_color_orange cursor-pointer"
                        (click)="logOut()">Đăng xuất</a></span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix top_2a hidden-xs hidden-sm">
    <div class="container pdl0 pdr0 pdl5x pdr5x"
         *ngIf="null==authService.getCurrentUser()||authService.getCurrentUser()=='anonymous'">
        <ul class="menuTop">
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',0)">
                <a class=""
                   routerLink="kich-hoat-bao-hanh"
                   title="Kích hoạt bảo hành">
                    Kích hoạt bảo hành
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',1)">
                <a class=""
                   routerLink="tra-cuu-han-bao-hanh"
                   title="Tra cứu hạn bảo hành">
                    Tra cứu hạn bảo hành
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',2)">
                <a class=""
                   routerLink="yeu-cau-bao-hanh"
                   title="Yêu cầu bảo hành">
                    Yêu cầu bảo hành, sửa chữa
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',3)">
                <a class=""
                   routerLink="tra-cuu-yeu-cau-bao-hanh"
                   title="Tra cứu yêu cầu bảo hành">
                    Tra cứu bảo hành, sửa chữa
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',4)">
                <a class="" routerLink="tram-bao-hanh" title="Trạm bảo hành">
                    Trạm bảo hành
                </a>
            </li>

            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',5)">
                <a class="" routerLink="chinh-sach-huong-dan" title="Chính sách hướng dẫn">
                    Chính sách & Hướng dẫn
                </a>
            </li>
        </ul>

    </div>


    <div class="container pdl0 pdr0 pdl5x pdr5x"
         *ngIf="null!=authService.getCurrentUser()&&authService.getCurrentUser()!='anonymous'">
        <ul id="toplv1" class="menuTop">
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',0)">
                <a class="" routerLink="quan-ly/san-pham" title="Quản lý sản phẩm">
                    Quản lý sản phẩm
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',1)">
                <a class="" routerLink="quan-ly/ma-bao-hanh" title="Quản lý mã bảo hành">
                    Quản lý mã bảo hành
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',2)">
                <a class="" routerLink="quan-ly/yeu-cau-bao-hanh" title="Yêu cầu bảo hành">
                    Quản lý yêu cầu sửa chữa
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',3)">
                <a class="" routerLink="quan-ly/tram-bao-hanh" title="Quản lý trạm bảo hành">
                    Quản lý trạm
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',4)">
                <a class="" routerLink="quan-ly/chinh-sach-huong-dan" title="Quản lý chính sách hướng dẫn">
                    Quản lý CSHD
                </a>
            </li>
            <li class='topLiLv1 ' name="menuTop" (click)="setColorMenu('menuTop',5)">
                <a class="" routerLink="quan-ly/tai-khoan" title="Quản lý tài khoản">
                    Quản lý tài khoản
                </a>
            </li>
        </ul>

    </div>
</div>

<div class="wrap top_1a visible-xs visible-sm">
    <div class="container pdl0 pdr0 top_1b">
        <div class="col-xs-12 col-xs">
            <div class="menuMobile pull-left" style="">
                <img src="assets/images/icon/menuMobile.png" alt="" class="imgMenuMo"/>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="pull-left text-uppercase mgt1 mgl5x pdt10x">Danh mục</div>

            <div class="visible-xs pull-right display-inline-block mgt5x">
                <img src="assets/images/icon/icon-phone.png"
                     alt="chuyengialocnuocminhduc.com" class=""
                     style="margin-top: -6px;"/>
                <b class="font-size-20 font-bold mgr20">0238 66 22 333</b></div>
        </div>
    </div>
</div>

<div class="topMenuMobile">
    <div class="topMenuMobile_b pdl5 pdr5 mgl5x mgr5x">
        <div class="closeSeach" style="    height: 30px;width:100%;    border-bottom: 1px solid #ddd;">
            <i class="fa fa-window-close pull-right color-red font-size-30" aria-hidden="true"></i>
        </div>

        <div class="menu" *ngIf="null==authService.getCurrentUser()||authService.getCurrentUser()=='anonymous'">
            <ul id="Ul1">
                <li class='topLiLv1 '>
                    <a class=""
                       routerLink="kich-hoat-bao-hanh"
                       title="Kích hoạt bảo hành">
                        Kích hoạt bảo hành
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class=""
                       routerLink="tra-cuu-han-bao-hanh"
                       title="Tra cứu hạn bảo hành">
                        Tra cứu hạn bảo hành
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class=""
                       routerLink="yeu-cau-bao-hanh"
                       title="Yêu cầu bảo hành">
                        Yêu cầu bảo hành, sửa chữa
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class=""
                       routerLink="tra-cuu-yeu-cau-bao-hanh"
                       title="Tra cứu yêu cầu bảo hành">
                        Tra cứu bảo hành, sửa chữa
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class="" routerLink="tram-bao-hanh"
                       title="Trạm bảo hành">
                        Trạm bảo hành
                    </a>
                </li>

                <li class='topLiLv1 '>
                    <a class="" routerLink="chinh-sach-huong-dan"
                       title="Chính sách hướng dẫn">
                        Chính sách & Hướng dẫn
                    </a>
                </li>
            </ul>
        </div>

        <div class="menu" *ngIf="null!=authService.getCurrentUser()&&authService.getCurrentUser()!='anonymous'">
            <ul id="Ul2">
                <li class='topLiLv1'>
                    <a class="" routerLink="quan-ly/san-pham" title="Kích hoạt bảo hành">
                        Quản lý sản phẩm
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class="" routerLink="quan-ly/yeu-cau-bao-hanh" title="Yêu cầu bảo hành">
                        Quản lý yêu cầu sửa chữa
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class="" routerLink="quan-ly/tram-bao-hanh" title="Tra cứu yêu cầu bảo hành">
                        Quản lý trạm
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class="" routerLink="quan-ly/chinh-sach-huong-dan" title="Trạm bảo hành">
                        Quản lý CSHD
                    </a>
                </li>
                <li class='topLiLv1 '>
                    <a class="" routerLink="quan-ly/tai-khoan" title="Quản lý tài khoản">
                        Quản lý tài khoản
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
