<div class="clearfix wrap bg-color-gray-3 color-white text-center pdt10 pdb10 pdt10 pdb10 font-size-24 font-bold">
    TRUNG TÂM BẢO HÀNH KANGAROO
</div>

<div class="clearfix wrap"><div class="container pdl0 pdr0 pdt20 pdt20x pdb20x">
    <div class="col-sm-3 pdr20 mgb20x">
        <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">TRỤ SỞ TẬP ĐOÀN</h4>
        <div class="">
            <i class="fa fa-home" aria-hidden="true"></i> Tầng 5, Tòa nhà Ocean Park, Số 1 Đào Duy Anh, Đống Đa, Hà Nội<br />
            <i class="fa fa-phone" aria-hidden="true"></i> (84-24) 3628 1698
        </div>
    </div>

    <div class="col-sm-3 pdl10 pdr10 mgb20x">
        <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">CHI NHÁNH HỒ CHÍ MINH</h4>
        <div class="">
            <i class="fa fa-home" aria-hidden="true"></i> Tầng 24-25 tòa nhà Viettel, 285 Cách Mạng Tháng 8, Phường 12, Quận 10, Tp Hồ Chí Minh<br />
            <i class="fa fa-phone" aria-hidden="true"></i> (84-28) 22535578
        </div>
    </div>

    <div class="col-sm-3 pdl10 pdr10 mgb20x">
        <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">CHI NHÁNH ĐÀ NẴNG</h4>
        <div class="">
            <i class="fa fa-home" aria-hidden="true"></i> 573 Điện Biên Phủ, Hòa Khê, Thanh Khê, Đà Nẵng<br />
            <i class="fa fa-phone" aria-hidden="true"></i> 02363727705<br />

        </div>
    </div>

    <div class="col-sm-3 pdl20 mgb20x">
        <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">TRUNG TÂM DỊCH VỤ KỸ THUẬT</h4>
        <div class="">
            <i class="fa fa-home" aria-hidden="true"></i> 231 Trần Đại Nghĩa, Q.Hai Bà Trưng, Hà Nội<br />
            <i class="fa fa-phone" aria-hidden="true"></i> (84) 1900 55 55 66<br />

        </div>
    </div>

</div>
</div>
<hr class="border-bottom-white"/>
<div class="clearfix wrap"><div class="container pdl0 pdr0 pdb10 pdt0x text-center color-gray-2">
    @ Copyright 2020 baohanhdientu.kangaroo.vn - Thiết kế phát triển bởi Bambu®
</div></div>

<a href="#" class="gotoTop"><img src="assets/images/icon/icon_gototop.png" alt="scroll" /></a>
