<div class="clearfix wrap color-white text-center pdt10 pdb10 pdt10 pdb10 font-size-24 font-bold bg-color-green"
     style="z-index: 5">
    TRUNG TÂM BẢO HÀNH MÁY LỌC NƯỚC MINH ĐỨC
</div>

<div class="clearfix wrap">
    <div class="container pdl0 pdr0 pdt20 pdt20x pdb20x">
        <div class="col-sm-3 pdr20 mgb20x">
            <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">TRỤ SỞ</h4>
            <div class="">
                <i class="fa fa-home" aria-hidden="true"></i>
                6/2 Phạm Kinh Vĩ, P.Bến Thủy, Tp.Vinh, Nghệ An<br/>
                <i class="fa fa-phone" aria-hidden="true"></i>
                (84) 079 663 7777
            </div>
            <br>
            <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">VĂN PHÒNG</h4>
            <div class="">
                <i class="fa fa-home" aria-hidden="true"></i>
                Số 1 A Khu liền kề Vinaconex 9B, Lê Nin, Tp.Vinh, Nghệ An<br/>
            </div>
        </div>

        <div class="col-sm-3 pdl10 pdr10 mgb20x">
            <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">SHOWROOM</h4>
            <div class="">
                <i class="fa fa-home" aria-hidden="true"></i>
                Showroom 1: Số 5 Phong Đình Cảng, P.Bến Thủy, Tp.Vinh, N.A<br/><br/>
                <i class="fa fa-home" aria-hidden="true"></i>
                Showroom 2: 90 Nguyễn Phong sắc, Tp.Vinh, N.A<br/><br/>
                <i class="fa fa-home" aria-hidden="true"></i>
                Showroom 3: Số 6 ngõ 2, Phạm Kinh Vĩ, P.Bến Thủy, Tp.Vinh, N.A<br/><br/>
            </div>
        </div>

        <div class="col-sm-3 pdl10 pdr10 mgb20x">
            <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">HOT LINE</h4>
            <div class="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:0796637777" target="_blank" data-label="Phone" rel="noopener noreferrer nofollow"
                   class="icon primary button circle  phone tooltip tooltipstered">
                    Tư vấn: (84) 079 663 7777
                </a>
                <br/>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:02386622333" target="_blank" data-label="Phone" rel="noopener noreferrer nofollow"
                   class="icon primary button circle  phone tooltip tooltipstered">
                    CSKH: (84) 0238 66 22 333
                </a>
                <br/>

            </div>
        </div>

        <div class="col-sm-3 pdl10 mgb20x">
            <h4 class="font-size-14 font-bold text-uppercase color-gray-2 mgb10 mgb10x">SOCIAL</h4>
            <div class="">
                <i class="fa fa-chrome" aria-hidden="true"></i>
                <a target="_blank" data-label="Website"
                   rel="noopener noreferrer nofollow"
                   class="icon primary button circle facebook tooltip tooltipstered">
                    https://chuyengialocnuocminhduc.com/
                </a>
                <br/><br/>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:locnuocminhduc@gmail.com" data-label="E-mail" rel="nofollow"
                   class="icon primary button circle  email tooltip tooltipstered">
                    locnuocminhduc@gmail.com
                </a>
                <br/><br/>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <a href="https://www.facebook.com/MAYLOCNUOCMINHDUC/" target="_blank" data-label="Facebook"
                   rel="noopener noreferrer nofollow" class="icon primary button circle facebook tooltip tooltipstered">
                    Facebook
                </a>
                <br/><br/>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <a href="https://www.youtube.com/channel/UCluDmiNRckbKbKoEhYhje0w" target="_blank"
                   rel="noopener noreferrer nofollow" data-label="YouTube"
                   class="icon primary button circle  youtube tooltip tooltipstered">
                    Youtube
                </a>

            </div>
        </div>

    </div>
</div>
<hr class="border-bottom-white"/>

