<div id="pnlErrorPage">
  <div class="wrap bg-color-white">
    <div class="container pdl60 pdr60 pdt10 pdb30 pdt10x pdb30x">
      <div class="pdl60 pdr60">

        <h3 class="color-gray-2 font-bold font-size-18 text-uppercase text-center mgt20 mgt20x"
            style="color:Red">
          Đã có lỗi xảy ra trong quá trình xử lý !
          Xin vui lòng liên hệ {{phoneNumberContact}}
        </h3>

        <img src="assets/images/icon/icon-line.png" alt="chuyengialocnuocminhduc.com"
             class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
        <div class="clearfix"></div>

      </div>

      <div class="container pdl0 pdr0  pdb10 pdt0 pdt0x pdb10x" *ngIf="errorMessage != null && errorMessage != ''">
        <h3 class="color-gray-2 font-bold font-size-18 text-uppercase text-center mgt20 mgt20x"
            style="color:Red">
          THÔNG TIN CHI TIẾT LỖI
        </h3>

        <div class="clearfix"></div>
        <p>{{errorMessage}}</p>

      </div>
    </div>
  </div>
</div>
