<div id="pnlDangKi">

  <div class="wrap bg-color-white">
    <div class="container pdl20 pdr20 pdt10 pdb30 pdt10x pdb30x">
      <h3 class="color-gray-2 font-bold font-size-18 text-uppercase text-center mgt20 mgt20x">Đăng kí thành
        viên</h3>
      <p class="mgt15 mgt15x text-center">
        Quý khách có yêu cầu về đăng kí bảo hành sản phẩm, vui lòng điền đầy đủ thông tin dưới đây và gửi về
        cho chúng tôi.<br/>
        Nhân viên chăm sóc khách hàng sẽ liên hệ với quý khách để hỗ trợ trong thời gian sớm nhất.
      </p>
      <img src="assets/images/icon/icon-line.png" alt="kangaroo.vn"
           class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
      <h2 id="msg-register" class="text-center" style="color: #a41010;display: none">
        GỬI YÊU CẦU ĐĂNG KÍ THÀNH CÔNG</h2>
      <div class="clearfix"></div>
      <form [formGroup]="stationForm" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 col-xs-12 pdr60">
          <p class="font-size-16 color-green font-bold">Thông tin NPP, Đại lý, Cộng tác viên </p>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Đối tượng: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <select name="drpDoiTuong" id="drpDoiTuong" [formControlName]="'object'"

                    class="width_100 text-align-left btn border-radius-0 bg-color-white border-1px-gray dropdown-toggle">
              <option selected="selected" value="">-</option>
              <option *ngFor="let type of lstTypeStation" value="{{type.type}}">{{type.type}}</option>


            </select>
            <span id="rfvDoiTuong" *ngIf="isNeedCheck&&!stationForm.get('object').valid" style="color:Red;">Lỗi, vì bạn chưa chọn đối tượng.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x">Tên cửa hàng: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'name'" maxlength="15" name="txtten_ch" type="text" id="txtten_ch"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/> <span id="rfvten_ch"
                                                                                              *ngIf="isNeedCheck&&!stationForm.get('name').valid"
                                                                                              style="color:Red;">Lỗi, vì bạn chưa nhập tên cửa hàng.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">SĐT: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'phone'" maxlength="15" name="txtUName" type="text" id="txtUName"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"
                   placeholder="Dùng để đăng nhập hệ thống"/> <span id="rfvUName"
                                                                    *ngIf="isNeedCheck&&!stationForm.get('phone').valid"
                                                                    style="color:Red;">Lỗi, vì bạn chưa nhập sđt.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Mật khẩu: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'password'" maxlength="15" name="txtPass" type="text" id="txtPass"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x pass"/> <span
            id="rfvPass" *ngIf="isNeedCheck&&!stationForm.get('password').valid" style="color:Red;">Lỗi, vì bạn chưa nhập mật khẩu.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Nhập lại mật khẩu: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'rePassword'" maxlength="15" name="txtRePass" type="text" id="txtRePass"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x pass"/> <span
            id="rfvRePass" *ngIf="isNeedCheck&&!stationForm.get('rePassword').valid" style="color:Red;">Lỗi, vì bạn chưa nhập mật khẩu.</span>
            <span
              id="rfvRePassValid" *ngIf="isNeedCheck&&!isPassMatch"
              style="color:Red;">Lỗi, vì mật khẩu không khớp</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Email: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'email'" maxlength="15" name="txtEmail" type="text" id="txtEmail"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/> <span id="rfvEmail"
                                                                                              *ngIf="isNeedCheck&&!stationForm.get('email').valid"
                                                                                              style="color:Red;">Lỗi, vì bạn chưa nhập email.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <span id="UpdatePanel1">
                        <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x">Tỉnh/ Thành phố: <label
                          class="color-orange vertical-align-middle">* &nbsp;</label></div>
                        <div class="col-sm-8 col-xs-6">
                            <select name="drpTinhE"
                                    (change)="getDistrict()"
                                    id="drpTinhE" [formControlName]="'province'"
                                    class="width_100 text-align-left btn border-radius-0 bg-color-white border-1px-gray dropdown-toggle">
		<option selected="selected" value="">-</option>
		<option *ngFor="let province of lstProvince" value="{{province.name}}">{{province.name}}</option>
			</select>
                            <span id="rfvdTinhE" *ngIf="isNeedCheck&&!stationForm.get('province').valid"
                                  style="color:Red;">Lỗi, vì bạn chưa chọn tỉnh/tp.</span>
                        </div><div class="clearfix mgb10 mgb10x"></div>
				        <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x">Quận/ Huyện: <label
                  class="color-orange vertical-align-middle">* &nbsp;</label></div>
                        <div class="col-sm-8 col-xs-6">
                            <select name="drpHuyenE"
                                    (change)="getWard()"
                                    [formControlName]="'district'"
                                    id="drpHuyenE"
                                    class="width_100 text-align-left btn border-radius-0 bg-color-white border-1px-gray dropdown-toggle">
<option selected="selected" value="">-</option>
                              <option *ngFor="let district of lstDistrict"
                                      value="{{district.name}}">{{district.name}}</option>
	</select>
                            <span id="rfvHuyenE"
                                  *ngIf="isNeedCheck&&!stationForm.get('district').valid" style="color:Red;">Lỗi, vì bạn chưa chọn quận/huyện.</span>
                        </div><div class="clearfix mgb10 mgb10x"></div>
                        <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x">Xã/ Phường: <label
                          class="color-orange vertical-align-middle">* &nbsp;</label></div>
                        <div class="col-sm-8 col-xs-6">
                            <select name="drpXaE" id="drpXaE" [formControlName]="'ward'"
                                    class="width_100 text-align-left btn border-radius-0 bg-color-white border-1px-gray dropdown-toggle">
<option selected="selected" value="">-</option>
                              <option *ngFor="let ward of lstWard" value="{{ward.name}}">{{ward.name}}</option>
	</select>
                            <span id="rfvXaE" *ngIf="isNeedCheck&&!stationForm.get('ward').valid" style="color:Red;">Lỗi, vì bạn chưa chọn phường/xã.</span>
                            </div><div class="clearfix mgb10 mgb10x"></div>
                        </span>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Địa chỉ: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'address'" name="txtdia_chi" type="text" id="txtdia_chi"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/> <span
            id="rfvdia_chi" *ngIf="isNeedCheck&&!stationForm.get('address').valid" style="color:Red;">Lỗi, vì bạn chưa nhập địa chỉ.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <p class="font-size-16 color-white font-bold">kangaroo</p>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Tên pháp nhân:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'legal'" name="txtphap_nhan" type="text" id="txtphap_nhan"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Người đại diện:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'represent'" name="txtdai_dien" type="text" id="txtdai_dien"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">CMTND/ Căn cước công dân: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'serial'" name="txtso_cmt" type="text" id="txtso_cmt"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/> <span id="rfvso_cmt"
                                                                                              *ngIf="isNeedCheck&&!stationForm.get('serial').valid"
                                                                                              style="color:Red;">Lỗi, vì bạn chưa nhập liệu.</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Mã số thuế:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'taxcode'" name="txtmst" type="text" id="txtmst"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Giấy phép kinh doanh:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'license'" name="txtgpkd" type="text" id="txtgpkd"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Ngân hàng:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'bank'" name="txtngan_hang" type="text" id="txtngan_hang"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>
          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Số tài khoản:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'banknumber'" name="txtso_tk" type="text" id="txtso_tk"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Người thụ hưởng:</div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'beneficiary'" name="txtchu_tk" type="text" id="txtchu_tk"
                   class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-4 col-xs-4 font-size-14 mgt5 mgt5x ">Nhập mã xác nhận: <label
            class="color-orange vertical-align-middle">* &nbsp;</label></div>
          <div class="col-sm-8 col-xs-6">
            <input [formControlName]="'verifyCode'" name="txtma_xacnhan" type="text" id="txtma_xacnhan"
                   class="border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x" style="width:235px;"/>

            <label class="cr-4 capcha" style="margin-left: 5px" readonly="true">
              {{capcha}}
            </label>
            <span id="rfvVerify" *ngIf="isNeedCheck&&!stationForm.get('verifyCode').valid" style="color:Red;">Lỗi, vì bạn chưa nhập mã xác nhận</span>
            <span id="rfvVerify1" *ngIf="isNeedCheck&&!isVerify"
                  style="color:Red;">Lỗi, vì mã xác nhận không khớp</span>
          </div>
          <div class="clearfix mgb10 mgb10x"></div>

          <div class="col-sm-push-4 col-sm-8 col-xs-12">
            <p class="color-orange mg0 mg0x">Lưu ý: Dòng có dấu (*) là bắt buộc</p>
            <p><span id="lblMsgDK" class="color-orange mg0 mg0x"></span></p>
            <div class="clearfix mgb10 mgb10x"></div>
            <input type="submit" name="cmdDangKy" value="Đăng ký"
                   id="cmdDangKy" class="cr-3 mgb10 mgb10x mgr5 mgr5x"/>
            <input type="reset" value="Làm mới" (click)="reset()" class="cr-3 mgb10 mgb10x mgr5 mgr5x"/>

          </div>
        </div>


      </form>
    </div>
  </div>

</div>
