
.capcha {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/*#msg-register {*/
/*  animation: cssAnimation 0s 2s forwards;*/
/*  visibility: visible;*/
/*}*/

/*@keyframes cssAnimation {*/
/*  to   { visibility: hidden; }*/
/*}*/


