<div id="pnlTraCuuHanBaoHanh">

  <div class="wrap bg-color-white">
    <div class="container pdl0 pdr0 pdt10 pdb10 pdt10x pdb10x">
      <h3 class="color-gray-2 font-bold font-size-18 text-uppercase text-center mgt20 mgt20x">Tra cứu hạn
        bảo hành</h3>
      <p class="mgt15 mgt15x text-center">Chọn chức năng tìm kiếm tình trạng yêu cầu bảo hành/ bảo trì</p>
      <img src="assets/images/icon/icon-line.png" alt="chuyengialocnuocminhduc.com"
           class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
      <div class="clearfix"></div>

      <div class="col-sm-push-3 col-sm-6 col-xs-12 border-1px-gray mgb30x">
        <ul class="nav nav-tabs nav-justified">

          <li class="active"><a data-toggle="tab"
                                class="font-bold color-gray-2 bg-color-gray">Tra cứu bằng serial, mã phiếu</a></li>

        </ul>

        <div class="tab-content">
          <form [formGroup]="searchWarrantyForm" (ngSubmit)="onSubmit()">
            <div id="serial" class="tab-pane fade in active">
              <div class="mgt30 mgb30 mgl30 mgr30 pdl30 pdr30 mg10x">
                <div id="pnlSerial_HanBH">

                  <div class="col-sm-3 col-xs-4 font-size-14 mgt5 mgt5x ">Số Serial:<label
                    class="color-orange vertical-align-middle">* &nbsp;</label></div>
                  <div class="col-sm-9 col-xs-8">
                    <input formControlName="serialNumber"
                      name="txtSerial_TC" type="text" id="txtSerial_TC"
                           class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
                    <span id="rfvSerial_TC" style="color:Red;display:none;">Lỗi, vì bạn chưa
                                                nhập serial.</span>
                  </div>
                  <div class="clearfix mgb10 mgb10x"></div>

                  <div class="col-sm-3 col-xs-4 font-size-14 mgt5 mgt5x ">Mã xác nhận: <label
                    class="color-orange vertical-align-middle">* &nbsp;</label></div>
                  <div class="col-sm-8 col-xs-8">

                    <input formControlName="verifyCode" name="txtCode_KH" type="text" id="txtCode_KH"
                           class="width-calc-130px border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x mgr5 mgr5x"/>

                    <label class="cr-4 captcha" style="padding: 3px 30px;" readonly="true">
                      {{captcha}}
                    </label>

                    <span id="rfvCode_KH" style="color:Red"
                          *ngIf="searchWarrantyForm.controls.verifyCode.errors?.required
                                  && !isValidFormSubmitted && isValidFormSubmitted != null">
                                  Lỗi, vì bạn chưa nhập mã xác nhận.</span>
                    <span id="rfvVerify1" *ngIf="!isValidFormSubmitted && isValidFormSubmitted != null&&!isVerify"
                          style="color:Red;">Lỗi, vì mã xác nhận không khớp</span>

                  </div>

                  <div class="clearfix mgb10 mgb10x"></div>
                  <p class="color-orange mg0 mg0x">Lưu ý:</p>
                  <p class="color-orange mg0 mg0x">- Dòng có dấu (*) là bắt buộc</p>
                  <p class="color-orange mg0 mg0x">- SĐT khách hàng là số đã đăng ký thành công
                    với số serial cần tra cứu.</p>
                  <div class="col-sm-push-3 col-sm-9 col-xs-12">

                    <div class="clearfix mgb10 mgb10x"></div>
                    <input type="submit" name="cmdHanBH2" value="Tra cứu thông tin"
                           id="cmdHanBH2" class="cr-3 mgb10 mgb10x mgr5 mgr5x"/>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>


    </div>
  </div>

</div>
