<div id="pnlTraCuuHanBaoHanh">

    <div class="wrap bg-color-white">
        <div class="container pdl0 pdr0 pdt10 pdb10 pdt10x pdb10x">
            <h3 class="color-gray-2 font-bold font-size-18 text-uppercase text-center mgt20 mgt20x">
                TRA CỨU TRÌNH TRẠNG YÊU CẦU BẢO HÀNH/SỬA CHỮA
            </h3>
            <p class="mgt15 mgt15x text-center">Chọn chức năng tìm kiếm tình trạng yêu cầu bảo hành/ bảo trì</p>
            <img src="assets/images/icon/icon-line.png" alt="chuyengialocnuocminhduc.com"
                 class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
            <div class="clearfix"></div>

            <div class="col-sm-push-3 col-sm-6 col-xs-12 border-1px-gray mgb30x">
                <ul class="nav nav-tabs nav-justified">

                    <li class="active">
                        <a data-toggle="tab" href="#serial"
                           class="font-bold color-gray-2 bg-color-gray">Tra cứu bằng serial, mã phiếu
                        </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <form [formGroup]="searchForm" (ngSubmit)="searchFormFn()">
                        <div id="phone" class="tab-pane fade in ">
                            <div class="mgt30 mgb30 mgl30 mgr30 pdl30 pdr30 mg10x">
                                <div id="pnlPhone_HanBH">
                                    <div class="col-sm-3 col-xs-4 font-size-14 mgt5 mgt5x ">Số serial:
                                        <label
                                                class="color-orange vertical-align-middle">* &nbsp;
                                        </label>
                                    </div>
                                    <div class="col-sm-9 col-xs-8">
                                        <input name="txtPhone_HanBH" type="text" id="txtPhone_HanBH"
                                               formControlName="serial"
                                               class="width_100 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"/>
                                        <span
                                                id="rfvPhone_HanBH" style="color:Red;display:none;">Lỗi, vì bạn chưa nhập số
                                            seriali.</span>
                                    </div>
                                    <div class="clearfix mgb10 mgb10x"></div>
                                    <div class="col-sm-3 col-xs-4 font-size-14 mgt5 mgt5x ">Mã xác nhận:
                                        <label
                                                class="color-orange vertical-align-middle">* &nbsp;
                                        </label>
                                    </div>
                                    <div class="col-sm-9 col-xs-8">
                                        <input name="txtCode_YCBH" type="text" id="txtCode_YCBH"
                                               formControlName="verifyCode"
                                               class="width-calc-130px border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x mgr5 mgr5x"/>
                                        <label class="cr-4 captcha" style="padding: 3px 30px;">
                                            {{capcha}}
                                        </label>
                                        <span *ngIf="isSubmited&&isCapcha" id="rfvTinh_YCBH" style="color:Red;">Lỗi, Mã
                                            xác nhận chưa đúng.</span>
                                    </div>
                                    <div class="clearfix mgb10 mgb10x"></div>

                                    <div class="col-sm-push-3 col-sm-9 col-xs-12">
                                        <p class="color-orange mg0 mg0x">Lưu ý: Dòng có dấu (*) là bắt buộc</p>
                                        <div class="clearfix mgb10 mgb10x"></div>
                                        <input type="submit" name="cmdHanBH1" value="Tra cứu thông tin" id="cmdHanBH1"
                                               class="cr-3 mgb10 mgb10x mgr5 mgr5x"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="file" class="tab-pane fade in ">
                        <div class="mgt30 mgb30 mgl30 mgr30 pdl30 pdr30 mg10x">

                            <span id="lblLogin_HBH" class="text_b12">Bạn vui lòng <a href='login.html'><b>Đăng
                                        nhập</b></a> để được sử dụng chức năng này.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- ket qua -->
        <div *ngIf=!warrantyClaimModel&&message class="container pdl0 pdr0 pdt10 pdb10 pdt10x pdb10x">
            <p class="mgt15 mgt15x text-center" style="color:Red;">{{message}}</p>
        </div>
        <div *ngIf=warrantyClaimModel class="container pdl0 pdr0 pdt10 pdb10 pdt10x pdb10x">
            <h3 class="color-gray-2 font-bold font-size-18 text-uppercase text-center mgt20 mgt20x">Thông tin phiếu bảo
                                                                                                    hành
            </h3>
            <!-- <p class="mgt15 mgt15x text-center">Quý khách có yêu cầu về Bảo hành/ Bảo trì sản phẩm, vui long điền đầy đủ
                thông tin dưới đây và gửi về cho chúng tôi.<br />
                Nhân viên chăm sóc khách hàng sẽ liên hệ với quý khách để hỗ trợ trong thời gian sớm nhất.</p> -->
            <img src="assets/images/icon/icon-line.png" alt="chuyengialocnuocminhduc.com"
                 class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-xs-12 pdr60">
                <p class="font-size-16 color-green font-bold">Thông tin khách hàng</p>

                <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Tên khách hàng:
                    <label
                            class="color-orange vertical-align-middle">* &nbsp;
                    </label>
                </div>
                <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <span>{{warrantyClaimModel.customerName}}</span>
                </div>
                <div class="clearfix mgb10 mgb10x"></div>

                <span id="UpdatePanel3">
                    <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr10 pdr10x">Tỉnh| Thành phố: <label
                            class="color-orange vertical-align-middle">* &nbsp;</label></div>
                    <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                        <span>{{warrantyClaimModel.province}}</span>
                    </div>
                    <div class="clearfix mgb10 mgb10x"></div>
                    <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr10 pdr10x">Quận huyện: <label
                            class="color-orange vertical-align-middle">* &nbsp;</label></div>
                    <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                        <span>{{warrantyClaimModel.district}}</span>
                    </div>
                    <div class="clearfix mgb10 mgb10x"></div>
                    <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr10 pdr10x">Phưỡng xã: <label
                            class="color-orange vertical-align-middle">* &nbsp;</label></div>
                    <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                        <span>{{warrantyClaimModel.ward}}</span>
                    </div>
                    <div class="clearfix mgb10 mgb10x"></div>
                </span>

                <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Địa chỉ:
                    <label
                            class="color-orange vertical-align-middle">* &nbsp;
                    </label>
                </div>
                <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <span>{{warrantyClaimModel.address}}</span>
                </div>
                <div class="clearfix mgb10 mgb10x"></div>
                <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">ĐT liên hệ:
                    <label
                            class="color-orange vertical-align-middle">* &nbsp;
                    </label>
                </div>
                <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <span>{{warrantyClaimModel.phone}}</span>
                </div>
                <div class="clearfix mgb10 mgb10x"></div>
                <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">ĐT khác:</div>
                <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <span>{{warrantyClaimModel.phone2}}</span>
                </div>
                <div class="clearfix mgb10 mgb10x"></div>
                <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Địa chỉ Email:</div>
                <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <span>{{warrantyClaimModel.email}}</span>
                </div>
                <div class="clearfix mgb10 mgb10x"></div>
                <span id="lblabc"></span>
            </div>

            <div class="col-sm-6 col-xs-12 pdl60">

                <p class="font-size-16 color-green font-bold">Thông tin sản phẩm</p>

                <span id="UpdatePanel4-1">
                    <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Serial:</div>
                    <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                        <span>{{warrantyClaimModel.serial}}</span>
                    </div>
                    <div class="clearfix mgb10 mgb10x"></div>
                </span> <span id="UpdatePanel4-2">
                    <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">Tên sản phẩm:</div>
                    <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                        <span>{{warrantyClaimModel.product.name}}</span>
                    </div>
                    <div class="clearfix mgb10 mgb10x"></div>
                </span>

                <div class="col-sm-4 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <label
                            class="color-orange vertical-align-middle">&nbsp;*
                    </label>
                </div>
                <div class="col-sm-8 col-xs-6 font-size-14 mgt5 mgt5x pdr30 pdr10x">
                    <img src="{{warrantyClaimModel.product.image}}"/>
                </div>
                <div class="clearfix mgb10 mgb10x"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- table lstModels -->
        <div *ngIf="lstModels" class="table-responsive mgt20 mgt20x">
            <div>
                <table cellspacing="0" rules="all" border="1" id="grd_Tram"
                       style="width:100%;border-collapse:collapse;">
                    <tr style="background-color:Silver;font-size:12px;height:22px;">
                        <th scope="col">TT</th>
                        <th scope="col">Số serial</th>
                        <th scope="col">Mô tả lỗi</th>
                        <th class="text-center" scope="col">Điện thoại</th>
                        <th class="text-center" scope="col">Trạng thái</th>
                        <th class="text-center" scope="col">Ngày xử lý</th>
                        <th class="text-center" scope="col">Ngày tạo</th>
                    </tr>
                    <tr *ngFor="let row of lstModels; index as i" style="font-size:12px;height:22px;">
                        <td align="center" style="width:30px;">{{i + 1}}</td>
                        <td>{{row.serial}}</td>
                        <td>{{row.description}}</td>
                        <td align="center" style="width:110px;">{{row.phone}}</td>
                        <td align="center" style="width:100px;">{{row.status}}</td>
                        <td align="center" style="width:100px;">{{row.doneTime}}</td>
                        <td align="center" style="width:100px;">{{row.createTime}}</td>
                    </tr>
                    <tr>
                        <td align="center">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix mgt30 mgt30x"></div>
    </div>

</div>
