<div id="pnlTramBaoHanh">
  <div class="wrap bg-color-white">

    <div class="container pdl0 pdr0 pdt10  pdt10x ">

      <p class="mgt15 mgt15x text-center">Thông tin về chính sách bảo hành, hướng dẫn kích hoạt bảo hành,
        hướng dẫn tra cứu hạn bảo hành</p>
      <p class="mgt20 mgt20x text-center">
        <span>
        <a name="menu-tab" class="cursor-pointer" (click)="getAllPending()"
        >CHỜ PHÊ DUYỆT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        <span>
        <a name="menu-tab"
           class="cursor-pointer" (click)="getAllAccept()">ĐÃ PHÊ
          DUYỆT</a>&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
      </p>
      <img src="assets/images/icon/icon-line.png" alt="kangaroo.vn"
           class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
    </div>

    <div class="container pdl0 pdr0  pdb10 pdt0 pdt0x pdb10x">
      <strong><h3 class="color-gray-2 font-bold font-size-18 text-uppercase">Trạm bảo hành</h3></strong>
      <p class="mgt15 mgt15x">Địa chỉ các TTBHUQ của KANGAROO trên toàn quốc.</p>
      <form [formGroup]="formFilter" (submit)="filter()">
        <div class="pull-left">
          <label for="txtSearch"></label><input [formControlName]="'name'" name="txtSearch" type="text"
                                                id="txtSearch"
                                                class="width-200px btn height-30 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x"
                                                placeholder="Tìm kiếm"/>
          <span style="padding-left: 5px">
                        <select name="drpVung" id="drpVung" [formControlName]="'area'"
                                class="width-100px height-30 text-align btn border-radius-0 bg-color-white border-1px-gray dropdown-toggle">
		<option selected="selected" value="">-</option>
		<option value="North">Miền Bắc</option>
		<option value="Central">Miền Trung</option>
		<option value="South">Miền Nam</option>

	</select>
           </span>
          <span style="padding-left: 5px">
                        <select name="drpTinh" id="drpTinh" [formControlName]="'province'"
                                class="width-200px height-30 text-align-left btn border-radius-0 bg-color-white border-1px-gray dropdown-toggle">
		<option value="">-</option>
		<option *ngFor="let province of lstAllProvince" value="{{province.name}}">{{province.name}}</option>

	</select>
        </span>
          <span style="padding-left: 5px">
        <input type="submit" name="cmdSearch" value="Tìm kiếm"

               id="cmdSearch" class="height-30 cr-3 mgb10 mgb10x mgr5 mgr5x"/>
        </span>

        </div>
      </form>
      <div class="clearfix"></div>
      <div class="table-responsive mgt20 mgt20x">
        <div>
          <table [cellSpacing]="0" border="1" id="grd_Tram" style="width:100%;border-collapse:collapse;">
            <tr style="background-color:Silver;font-size:12px;height:30px;">
              <th scope="col" class="text-center width-35px">TT</th>
              <th scope="col" class="width-320px" style="padding: 10px">T&#234;n trạm</th>
              <th scope="col" style="padding: 10px">Địa chỉ</th>
              <th class="text-center width-125px" scope="col">Điện thoại</th>
              <th class="text-center width-125px" scope="col">Tỉnh th&#224;nh</th>
              <th class="text-center width-80px" scope="col">Thao tác</th>
            </tr>
            <tr *ngFor="let station of lstFilterStation; index as i" style="font-size:12px;height:22px;">
              <td scope="col" class="text-center">{{i + 1}}</td>
              <td scope="col" style="padding: 10px">{{station.name}}</td>
              <td scope="col" style="padding: 10px">{{station.address}}</td>
              <td class="text-center" scope="col">{{station.phone}}</td>
              <td class="text-center" scope="col">{{station.province}}</td>
              <td *ngIf="typeStation=='pending'" class="text-center" scope="col">
                <mat-icon color="primary" title="Accept" class="cursor-pointer" (click)="acceptStation(station.id)">
                  verified_user
                </mat-icon>
                <mat-icon color="warn" title="Remove" class="pdl10 cursor-pointer" (click)="removeStation(station.id)">
                  delete
                </mat-icon>
              </td>
              <td *ngIf="typeStation=='accepted'" class="text-center" scope="col">
                <mat-icon color="warn" title="Remove" class="cursor-pointer" (click)="removeStation(station.id)">
                  delete
                </mat-icon>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="clearfix mgt30 mgt30x"></div>
    </div>
  </div>

</div>
