<div id="pnlQuanLySanPham">

  <div class="wrap bg-color-white">
    <div class="container pdl0 pdr0 pdt10 pdb10 pdt10x pdb10x">
      <strong><h3 class="color-gray-2 font-bold font-size-18 text-uppercase mgt20 mgt20x">Quản lý sản phẩm</h3></strong>

      <form [formGroup]="formFilter" (submit)="filter()">
        <div class="pull-left">

          <div class="clearfix mgt5 mgt5x"></div>
          <label for="txtSearch">Tên hoặc mã sản phẩm : </label>

          <input formControlName="txtSearch" name="txtSearch" type="text"
                 id="txtSearch"
                 class="width-200px btn height-30 border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x mgl5"
                 placeholder="Tìm kiếm"/>

          <span style="padding-left: 5px">
            <input type="submit" name="cmdSearch" value="Tìm kiếm"
                   id="cmdSearch" class="height-30 cr-3 mgb10 mgb10x mgr5 mgr5x"/>
          </span>

          <span style="padding-left: 5px">
            <input type="button" (click)="viewCreate()" name="cmAdd" value="Thêm mới"
                   id="cmAdd" class="height-30 cr-3 mgb10 mgb10x mgr5 mgr5x"/>
          </span>


        </div>
      </form>
      <div class="clearfix"></div>
      <div class="table-responsive mgt20 mgt20x">
        <div>
          <table [cellSpacing]="0" border="1" id="grd_Product" style="width:100%;border-collapse:collapse;">
            <tr style="background-color:Silver;font-size:12px;height:30px;">
              <th class="text-center" scope="col">TT</th>
              <th class="pd10" scope="col">Tên sản phẩm</th>
              <th class="text-center pd10" scope="col">Mã sản phẩm</th>
              <th class="text-center pd10" scope="col">Bảo hành</th>
              <th class="text-center pd10" scope="col">Thao tác</th>
            </tr>
            <tr *ngFor="let p of lstProduct, index as i" style="font-size:12px;height:22px;">
              <th class="text-center pd10" scope="col">{{i + 1}}</th>
              <th class="pd10" scope="col">{{p.name}}</th>
              <th class="text-center pd10" scope="col">{{p.productCode}}</th>
              <th class="text-center pd10" scope="col">{{p.periodMonthWarranty}} tháng</th>
              <th class="text-center pd10" scope="col">
                <mat-icon color="primary" title="Chi tiết" class="cursor-pointer" (click)="viewDetail(p)">
                  details
                </mat-icon>
                <mat-icon color="accent" title="Chỉnh sửa" class="mgl20 cursor-pointer" (click)="viewUpdate(p)">
                  edit
                </mat-icon>
                <mat-icon color="warn" title="Xóa" class="mgl20 cursor-pointer" (click)="delete(p.id)">
                  delete
                </mat-icon>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="clearfix mgt30 mgt30x"></div>

      <div class="pull-left">
        <label for="txtSearch">Nhập liệu data bảo hành :</label>
        <span style="padding-left: 5px">
            <input type="file" (change)="selectFile($event)"
                   name="cmSelect" style="display: inline!important;">
            <input type="button" (click)="uploadDataWarranty()" name="cmAdd" value="Nhập dữ liệu bảo hành"
                   id="cmUpload" class="height-30 cr-3 mgb10 mgb10x mgr5 mgr5x"/>
          </span>
      </div>
    </div>
  </div>

</div>
