<div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div style="text-align: center">
            <img class="pdl10 pdt5"
                 src="assets/images/icon/logo.png" alt="chuyengialocnuocminhduc.com"
                 style="width: 160px; height: 75px">
        </div>
        <div class="pad_a20">

            <input [formControlName]="'username'" name="txtuName" type="text" id="txtuName"
                   class="font-size-14 text-align-left"
                   placeholder="Username"/>
            <div class="clearfix mgb10 mgb10x"></div>
            <input [formControlName]="'password'" name="password" type="password" id="password"
                   class="font-size-14 text-align-left"
                   placeholder="Password"/>

            <div class="pad_t20" style="float:left;">
                <span style="color: red" *ngIf="!isValidate">Bạn phải nhập Tên tài khoản và Mật khẩu</span> <span
                    style="color: red"
                    *ngIf="isValidate&&!isLogined">Tên tài khoản hoặc Mật khẩu không đúng</span>
            </div>
            <div class="clearfix mgb10 mgb10x"></div>
            <div class="pad_t5" style="text-align: center;">
                <input type="submit" name="cmdLogin" value="Đăng nhập "
                       id="cmdLogin" class="cmd_01 font-size-14"/>
            </div>
            <div class="clearfix mgb10 mgb10x"></div>

            <div class="pad_t5 font-size-14" style="text-align: center;">
                <a (click)="openDialogForgot()">Quên mật khẩu</a>
            </div>
            <div style="clear:both;"></div>

        </div>

    </form>
</div>


