<div class="container">

  <div id="pnlInfo">

    <div class="wrap bg-color-white">
      <div class="container pdl0 pdr0 pdt10  pdt10x ">

        <p class="mgt15 mgt15x text-center">Thông tin về chính sách bảo hành, hướng dẫn kích hoạt bảo hành,
          hướng dẫn tra cứu hạn bảo hành</p>
        <p class="mgt20 mgt20x text-center"><a class="cursor-pointer" (click)="getPolicy(1)"
                                               style='color:orange;'>CHÍNH
          SÁCH BẢO
          HÀNH</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="cursor-pointer" (click)="getPolicy(2)">CHÍNH SÁCH
          BẢO
          MẬT
          THÔNG TIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="cursor-pointer" (click)="getPolicy(3)">HƯỚNG
          DẪN SỬ
          DỤNG</a>
        </p>
        <img src="assets/images/icon/icon-line.png" alt="kangaroo.vn"
             class="display-table margin-auto mgt30 mgb30 mgt30x mgb30x"/>
      </div>
    </div>
    <form [formGroup]="policyForm" (ngSubmit)="savePolicy()">
      <div class="form-group">
        <button class="save-btn" style="float:right;" type="submit">SAVE</button>
        <label class="post-content">Content</label>
        <editor apiKey="46cgjpsw26c04md2bv7slhzvuf034btn6qsb3akrj1mieps5"
                [formControlName]="'body'" [init]="editorConfig"></editor>

      </div>
    </form>
  </div>


</div>
