<div class="clearfix wrap bg-color-white">
  <div class="container pdl0 ppdr0 pdt30 pdb30 mgt20 mgb20 pdt30x pdb30x">
    <div class="col-sm-4 pdl60 pdr60 text-center">
      <a routerLink="//kich-hoat-bao-hanh">
        <img src="assets/images/icon/icon-kich-hoat-bao-hanh.png"
             alt="kích hoạt bảo hành"
             class=""/>
      </a>
      <br/>
      <a routerLink="//kich-hoat-bao-hanh" title="kích hoạt bảo hành"
         class="display-block color-gray-2 hover_color_orange font-size-18 font-bold text-uppercase mgt20 mgb20 mgt20x mgb20x">
        Kích hoạt bảo hành
      </a>
      <p class="">
        Kích hoạt bảo hành cho các sản phẩm của KANGAROO bằng số Serial.
      </p>
    </div>
    <div class="col-sm-4 pdl60 pdr60 text-center">
      <a routerLink="/tra-cuu-han-bao-hanh">
        <img src="assets/images/icon/icon-tra-cuu-bao-hanh.png"
             alt="tra cứu hạn bảo hành"
             class=""/>
      </a>
      <br/>
      <a routerLink="/tra-cuu-han-bao-hanh" title="tra cứu hạn bảo hành"
         class="display-block color-gray-2 hover_color_orange font-size-18 font-bold text-uppercase mgt20 mgb20 mgt20x mgb20x">
        Tra cứu hạn bảo hành
      </a>
      <p class="">
        Tra cứu thông tin hạn bảo hành của một sản phẩm của KANGAROO bằng số Serial hoặc số điện thoại khách hàng.
      </p>
    </div>

    <div class="clearfix visible-xs">

    </div>

    <div class="col-sm-4 pdl60 pdr60 text-center">
      <a routerLink="/yeu-cau-bao-hanh">
        <img src="assets/images/icon/icon-yeu-cau-bao-hanh-sua-chua.png"
             alt="yêu cầu bảo hành, sửa chữa" class=""/>
      </a>
      <br/>
      <a routerLink="/yeu-cau-bao-hanh" title="yêu cầu bảo hành, sửa chữa"
         class="display-block color-gray-2 hover_color_orange font-size-18 font-bold text-uppercase mgt20 mgb20 mgt20x mgb20x">Yêu
        cầu bảo hành,<br/> sửa chữa</a>
      <p class="">
        Yêu cầu bảo hành hoặc sửa chữa cho sản phẩm của KANGAROO khi có phát sinh bảo hành hoặc sửa chữa
      </p>
    </div>

    <div class="clearfix hidden-xs pdb20 mgb30 "></div>

    <div class="col-sm-4 pdl60 pdr60 text-center">
      <a routerLink="/tra-cuu-yeu-cau-bao-hanh">
        <img src="assets/images/icon/icon-tra-cuu-yeu-cau-sua-chua-bao-hanh.png"
             alt="tra cứu yêu cầu bảo hành" class=""/>
      </a>
      <br/>
      <a routerLink="/tra-cuu-yeu-cau-bao-hanh" title="tra cứu yêu cầu bảo hành"
         class="display-block color-gray-2 hover_color_orange font-size-18 font-bold text-uppercase mgt20 mgb20 mgt20x mgb20x">
        TRA
        CỨU BẢO HÀNH, SỬA CHỮA
      </a>
      <p class="">
        Tra cứu tình trạng các ca yêu cầu bảo hành, sửa chữa bằng số Serial hoặc Số điện thoại khách hàng.
      </p>
    </div>

    <div class="clearfix visible-xs">

    </div>

    <div class="col-sm-4 pdl60 pdr60 text-center">
      <a routerLink="/tram-bao-hanh">
        <img src="assets/images/icon/icon-tram-bao-hanh.png" alt="trạm bảo hành"
             class=""/>
      </a>
      <br/>
      <a routerLink="/tram-bao-hanh" title="Trạm bảo hành"
         class="display-block color-gray-2 hover_color_orange font-size-18 font-bold text-uppercase mgt20 mgb20 mgt20x mgb20x">
        TRẠM BẢO HÀNH
      </a>
      <p class="">Địa chỉ các TTBHUQ của KANGAROO trên toàn quốc.</p>

    </div>

    <div class="col-sm-4 pdl60 pdr60 text-center">
      <a routerLink="/chinhsachhd"><img src="assets/images/icon/icon-huong-dan.png" alt="Chính sách và hướng dẫn"
                                          class=""/></a><br/>
      <a routerLink="/chinhsachhd" title="Chính sách và hướng dẫn"
         class="display-block color-gray-2 hover_color_orange font-size-18 font-bold text-uppercase mgt20 mgb20 mgt20x mgb20x">CHÍNH
        SÁCH & HƯỚNG DẪN</a>
      <p class="">Thông tin về chính sách bảo hành của KANGAROO và Hướng dẫn sử dụng website.</p>
    </div>
  </div>
</div>
