<div style="width:300px; height:320px; border:1px solid #cccccc;border-radius: 10px 10px; background-color:#fff;display:inline; position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin: auto;">
    <div class="pad_a20">
        <div class="pad_t15 fb" style="width:100%;">QUÊN MẬT KHẨU:</div>

        <div class="pad_t15" style="width:100%; ">Tên đăng nhập:</div>
        <div class="pad_t5" style="width:100%;"><input name="txtten_dn" type="text" id="txtten_dn" class="tbox_24"
                                                       placeholder="Tên hoặc SDT đăng nhập"
                                                       style="width:100%;"/>&nbsp;<span id="RequiredFieldValidator2"
                                                                                        class="cred2"
                                                                                        style="color:Red;display:none;">*</span>
        </div>

        <div class="pad_t20" style="width:100%;">Mã an toàn:</div>
        <div class="pad_t5" style="width:100%;"><input name="txtCode" type="text" id="txtCode" class="tbox_24"
                                                       placeholder="Mã an toàn" style="width:190px;"/>&nbsp;<span
                id="RequiredFieldValidator1" class="cred2" style="color:Red;display:none;">*</span>&nbsp;<img
                id="imgCode_Reg" class="align_midle" src="code8ab3.gif?id=68094"
                style="height:24px;width:60px;border-width:0px;"/></div>

        <div class="pad_t10" style="width:100%;"></div>

        <div class="pad_t10" style="width:100%;"><input type="submit" name="cmdSend" value="Gửi yêu cầu" id="cmdSend"
                                                        class="cmd_01" style="width:80px;"/></div>
        <div class="pad_t15" style="width:100%;"><a href="home.html">Về trang chủ</a></div>
    </div>
</div>
