<div id="pnlTramBaoHanh">

             <div class="wrap bg-color-white"><div class="container pdl0 pdr0 pdt10 pdb10 pdt10x pdb10x">
                <h3 class="color-gray-2 font-bold font-size-18 text-uppercase mgt20 mgt20x">Quản lý yêu cầu</h3>
				<p class="mgt15 mgt15x">Các yêu cầu bảo hành của KANGAROO trên toàn quốc.</p>
                <div class="pull-left">
                    <input name="txtSearch" type="text" id="txtSearch" class="width-200px border-1px-gray pdl5 pdt5 pdb5 pdl5x pdt5x pdb5x" placeholder="Tìm kiếm theo serial" />
                    
                    <input type="submit" name="cmdSearch" value="Tìm kiếm" (click)="searchBySerial()" id="cmdSearch" class="cr-3 mgb10 mgb10x mgr5 mgr5x" />
			    </div>
			    <div class="clearfix"></div>
                <div class="table-responsive mgt20 mgt20x">
                    <div>
		<table cellspacing="0" rules="all" border="1" id="grd_Tram" style="width:100%;border-collapse:collapse;">
			<tr style="background-color:Silver;font-size:12px;height:22px;">
				<th scope="col">TT</th><th scope="col">Khách hàng</th><th scope="col">Mô tả lỗi</th><th class="text-center" scope="col">Điện thoại</th><th class="text-center" scope="col">Số serial</th><th class="text-center" scope="col">Tỉnh th&#224;nh</th><th class="text-center" scope="col">Sản phẩm</th><th class="text-center" scope="col">Hoàn tất</th><th class="text-center" scope="col">Hủy yêu cầu</th>
			</tr>
			<tr *ngFor="let row of lstModel"  style="font-size:12px;height:22px;">
				<td align="center" style="width:30px;">1</td><td>{{row.customerName}}</td><td>{{row.description}}</td><td align="center" style="width:110px;">{{row.phone}}</td><td align="center" style="width:100px;">{{row.serial}}</td><td align="center" style="width:100px;">{{row.province}}</td><td align="center" style="width:100px;">{{row.modelProduct}}</td>
				<td align="center" style="width:100px;"><button type="button" class="btn btn-labeled btn-success">
					<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span></button>
				</td>
				<td align="center" style="width:100px;"><button type="button" class="btn btn-labeled btn-danger">
					<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span></button>
				</td>
			</tr>
		</table>
	</div>
				</div>
			    <div class="clearfix mgt30 mgt30x"></div>
            </div></div>

</div>
